@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Montserrat';
  padding: 0;
  background-color: yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  color: #9e9898;
  height: 100vh;
}

body a, html a {
  text-decoration: none;
}

body h1, html h1 {
  font-size: 36px;
}

body h2, html h2 {
  font-size: 26px;
}

body p, html p {
  font-size: 18px;
}

/*hEADER - logo and burger-menu*/
header {
  margin: 1em;
}

header .logo {
  color: #da29e0;
  font-weight: bold;
}

header .logo:hover {
  color: aqua;
}

header .menu-btn {
  width: 80px;
  float: right;
  cursor: pointer;
}

header .menu-btn:hover {
  background: greenyellow;
}

/*ends burger & logo nav*/
/*<<<<<<<<<<<<<
  BIG MENU overlay >>>>>>>> */
nav {
  position: absolute;
  background: #22191a;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: 999999;
  font-size: smaller;
}

nav .close-btn {
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav .menu-grp {
  margin-top: 8em;
  width: 80vw;
}

nav ul {
  list-style-type: none;
  margin: 15% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
  margin: 0 auto;
}

nav ul li {
  opacity: 0;
}

nav ul a {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

nav ul span {
  color: gray;
  display: inline-block;
  font-size: 1.25em;
  margin-top: 20px;
}

.show-menu {
  display: inline-block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
  /*Hero section*/
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  animation: menu-item-anim .6s forwards 1s ease-in-out;
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  animation: menu-item-anim .6s forwards 1.2s ease-in-out;
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  animation: menu-item-anim .6s forwards 1.4s ease-in-out;
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  animation: menu-item-anim .6s forwards 1.6s ease-in-out;
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu #wrapper {
  width: 650px;
  margin: 0 auto;
  margin: 4em;
  font-weight: bold;
  border: 1px solid #0de692;
}

.show-menu .hero-title {
  border: 1px solid blue;
  margin: 0 2em 0 0;
  position: relative;
  left: 3em;
  text-align: right;
  animation: fadeIn 3s ease-in;
  -webkit-animation: fadeIn 3s ease-in;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.show-menu .hero-title:link {
  border: 5px solid #bf0fcf;
}

.show-menu .hero-title:hover {
  border: 2px solid #bf0fcf;
}

.show-menu .hero-sub-title {
  width: 5em;
  margin: 0 auto;
  margin-top: 0;
  border: 0.5px solid #790fcf;
  animation: fadeIn 10s;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  animation-timing-function: linear;
  -webkit-animation: fadeIn 10s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.show-menu .hero-sub-title .hero-title-border,
.show-menu .hero-sub-title .hero-sub-title-border {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.show-menu .hero-sub-title .hero-title-border:hover,
.show-menu .hero-sub-title .hero-sub-title-border:hover {
  opacity: 5;
  border: 5px;
}

.footer {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: -1em;
  color: purple;
  margin: 8em 0 1em;
  padding: .5em;
}

.footer p {
  font-size: 12px;
  font-weight: 200;
}

.social, .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em .5;
  color: rgba(38, 0, 255, 0.685);
}

@-webkit-keyframes slide-menu {
  from {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes menu-item-anim {
  from {
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* keyframes FLEX CONTAINER -- CHANGE TO FADE IN ANIMATION
    */
@-webkit-keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateZ(-5px);
    -webkit-transform: translateZ(-5px);
    -moz-transform: translateZ(-5px);
    -ms-transform: translateZ(-5px);
    -o-transform: translateZ(-5px);
  }
  80% {
    opacity: 1;
    transform: translateZ(50px);
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
  }
  100% {
    opacity: 4;
    transition: 0;
    transform: translateZ(200px);
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -ms-transform: translateZ(200px);
    -o-transform: translateZ(200px);
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
  }
}
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateZ(-5px);
    -webkit-transform: translateZ(-5px);
    -moz-transform: translateZ(-5px);
    -ms-transform: translateZ(-5px);
    -o-transform: translateZ(-5px);
  }
  80% {
    opacity: 1;
    transform: translateZ(50px);
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
  }
  100% {
    opacity: 4;
    transition: 0;
    transform: translateZ(200px);
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -ms-transform: translateZ(200px);
    -o-transform: translateZ(200px);
    -webkit-transition: 0;
    -moz-transition: 0;
    -ms-transition: 0;
    -o-transition: 0;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  }
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    margin: 0 auto;
    margin-top: 1.5em;
  }
  .hero {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    margin: 3em;
    padding: 2em;
    text-align: right;
    border: 1px solid lightsalmon;
  }
  .hero h2 {
    font-weight: lighter;
    font-size: small;
  }
  .hero span {
    color: ivory;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: #00DBDE;
    background-image: -webkit-gradient(linear, left top, right top, from(#00DBDE), to(#FC00FF));
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  }
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5em 3em;
    padding: 3em;
  }
  #wrapper .hero {
    display: inline-block;
    margin: 3em;
    width: 40%;
    margin: 0 auto;
    border: #bf0fcf;
    padding: 2em;
    text-align: right;
  }
  #wrapper .hero h1 {
    font-weight: bolder;
    font-size: 2.5em;
  }
  #wrapper .hero h2 {
    font-weight: lighter;
    font-size: 1.5em;
  }
  #wrapper .hero span {
    color: ivory;
  }
  #wrapper .footer {
    width: 50%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  }
  #wrapper {
    border: 1px solid plum;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5em 3em;
    padding: 3em;
  }
  #wrapper .hero {
    display: inline-block;
    margin: 3em;
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    text-align: right;
  }
  #wrapper .hero h1 {
    font-weight: bolder;
    font-size: 2.5em;
  }
  #wrapper .hero h2 {
    font-size: 1.5em;
    font-weight: lighter;
  }
  #wrapper .hero span {
    color: ivory;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  }
  h1 {
    font-weight: bolder;
    font-size: 3.5em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: lighter;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  }
  h1 {
    font-weight: bolder;
    font-size: 10em;
  }
  h2 {
    font-size: 2;
    font-weight: lighter;
  }
  span {
    color: ivory;
  }
}
/*# sourceMappingURL=main.css.map */