@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


*{
        margin:0;
        padding: 0;
        
}

// body and utility set in main.css//

$color-primary: rgb(34, 25, 26);
$color-secondary: rgb(82, 36, 207);
$color-tertiary: pink; 
$color-text-main: rgb(158, 152, 152); // on dark
$color-text-second: rgb(212, 135, 148);  // on dark
 


     .ovrlay2 {
        
     
        margin: 0 auto;
     
        height:95vh;
        width: 100vw;
        background:lemonchiffon;
        display:flex;
        
       
        flex-flow: column;
    
         z-index:9999;
        
        ul {
            align-items: center;
           // position: absolute;
          
            list-style-type: none;
            margin: 0;
           //margin: 25% auto 0 auto;
           // padding:0; // removes default browser padding on ul!
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width:100vw;
            
            /*margin: auto;
            padding: 0; // removes default browser padding on ul!
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width:100vw;*/
            
            a {
                color:blueviolet;
                font-weight: bold;
                font-size: 2em;
                
            }
            
            span {
                color:gray;
                display: block;
                font-size: 1.25em;
                margin-top: 20px;
                padding: 3em;
            }

            li {
                display: inline-block;
                opacity: 0;
                margin-top: 15%;
                border: .3px solid blue;
                text-orientation: upright;
                text-align: center;
                padding-left: 5em;
                height: 80vh;
                width:10em;
                -webkit-text-orientation: upright;

                animation: fadeInRight 1s ease-in-backwards;
                -webkit-animation: fadeInRight 1s ease-in-backwards;
               
                }
               

            }
        }



    
    
           li:nth-of-type(1){
              margin-left: 20em;
               animation:fadeInRight .6s forwards 1s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1s ease-in-out;
            }   
    
    
           li:nth-of-type(2){
            margin-left: 10em;
               animation:fadeInRight .6s forwards 1.2s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1.2s ease-in-out;
            }
    
    
           li:nth-of-type(3){
            animation:fadeInRight .6s forwards 1.6s ease-in-out;
            -webkit-animation:fadeInRight .6s forwards 1.6s ease-in-out;

            }
    
    
          li:nth-of-type(4){
               animation:fadeInRight .6s forwards 1.6s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1.6s ease-in-out;

            }
      
                                   

  
// @KEYFRAMES START HERE>>>>>>>>>>>>>>>>

        @keyframes slideInRight {
        from {
                    transform: scaleX(0);
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                } 
                    to {
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1); //do this -- update nav above to reflect this
                    }
            }


           @keyframes show-x {
                from {
                    opacity: 0; 
                } 
                    to {
                        opacity:1;
                    }
            }
    

        @keyframes slide-menu {
            from {
                transform: scaleX(0);
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
            } 
                to {
                transform: scaleX(1);
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1); //do this -- update nav above to reflect this
                }
        }

        @keyframes menu-item-anim {
            from {
                transform:translateY(30%);
                -webkit-transform:translateY(30%);
                -moz-transform:translateY(30%);
                -ms-transform:translateY(30%);
                -o-transform:translateY(30%);
                opacity: 0;
            } 
                to {
                 transform:translateY(0);
    
                 opacity:1;
                }
        }



        @keyframes fadeInRight{ 
            0% {
                opacity: 0;
                transform: translateZ(100px);
                -webkit-transform: translateZ(100px);
                -moz-transform: translateZ(100px);
                -ms-transform: translateZ(100px);
                -o-transform: translateZ(100px);
                }
        
          80% {
                transform: translateZ(-5px) ;
                -webkit-transform: translateZ(-5px) ;
                -moz-transform: translateZ(-5px) ;
                -ms-transform: translateZ(-5px) ;
                -o-transform: translateZ(-5px) ;
            }
            

            100% {
                opacity: 1;
                transform: translateZ(0);
                translate: 0;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
            }
        
    }

    // MEDIA QUERIES STARTING HERE>>>>>>>