@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


*{
        margin:0;
        padding: 0;
        
}


$color-primary: rgb(34, 25, 26);
$color-secondary: rgb(82, 36, 207);
$color-tertiary: pink; 
$color-text-main: rgb(158, 152, 152); // on dark
$color-text-second: rgb(212, 135, 148);  // on dark
 


body, html {
    font-family:'Montserrat';
    background-color: $color-primary;
    margin:0;
    box-sizing: border-box;
    overflow: hidden;


        a {
            text-decoration: none;
        }

     }

     header {
         padding: 2em;
       

         .logo {
             color: black;
             font-weight: bold;
         }

         .menu-btn {
             width: 18px;
             float:right;
             cursor: pointer;
         }
     }


     #ovrlay2 {
        position: absolute;
        left:5%;
        margin: 0 auto;
        //padding: 5em 10em 10em 20em;
        height:95vh;
        //width: 100vw;
        background-color: pink;
        display:flex;
        
       
        flex-flow: column;
    
         z-index:9999;
        
        ul {
            align-items: center;
            position: absolute;
            background-color:$color-primary;
            list-style-type: none;
            margin: 25% auto 0 auto;
           // padding:0; // removes default browser padding on ul!
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width:100vw;
            
            /*margin: auto;
            padding: 0; // removes default browser padding on ul!
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width:100vw;*/
            
            a {
                color:blueviolet;
                font-weight: bold;
                font-size: 2em;
                
            }
            
            span {
                color:gray;
                display: block;
                font-size: 1.25em;
                margin-top: 20px;
                padding: 3em;
            }

            li {
                display: inline-block;
                opacity: 0;
                margin-top: 15%;
                border: .3px solid blue;
                //writing-mode: vertical-lr;
                text-orientation: upright;
                text-align: center;
                padding-left: 5em;
                height: 80vh;
                width:10em;
                -webkit-text-orientation: upright;

                animation: fadeInRight 1s ease-in-backwards;
                -webkit-animation: fadeInRight 1s ease-in-backwards;
               
}
               

            }
        }


               
        /*.show-menu {
            display: block;
            animation: slide-menu 1s ease-in forwards;
                            
            
            .close-btn {
            -webkit-animation: slide-menu 1s ease-in forwards;
    
               animation: show-x 1s 1s forwards;
            }    */    
      
    
    
           li:nth-of-type(1){
              margin-left: 20em;
               animation:fadeInRight .6s forwards 1s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1s ease-in-out;
}
    
    
           li:nth-of-type(2){
            margin-left: 10em;
               animation:fadeInRight .6s forwards 1.2s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1.2s ease-in-out;
}
    
    
           li:nth-of-type(3){
                //margin-right: 40em;
                animation:fadeInRight .6s forwards 1.4s ease-in-out;
                -webkit-animation:fadeInRight 6s 1.4s ease-in-out;
}
    
    
          li:nth-of-type(4){
               animation:fadeInRight .6s forwards 1.6s ease-in-out;
               -webkit-animation:fadeInRight .6s forwards 1.6s ease-in-out;

            }
      

       /*    &::before { //adds line above h1
               content: '';
//-border-top: .5px solid rgba(143, 24, 123, 0.842);
               display: block;
               width: 80%;
               padding-bottom: 1em;
           }*/
       
        

        .info1 {
         margin: auto 4.7em;
            letter-spacing: 1em;
            line-height: 2em;
            width: 15em;
            //margin: 1em;
            text-align: right;
        }

         .info2 {
             
           //-margin: auto 6em; //auto to center
           //-width:70%;
            letter-spacing: 1em;
            line-height: 2em;
            width: 18em;
            margin: 1em;
            text-align: left;
            padding: .5em 0em .5em 1em;
          }
    
          
          
          #sub-section {
                         
            animation: fadeIn;
            -webkit-animation: fadeIn;

         .info3, .info4, .info5, .info6 {
             
            //-margin: auto 6em; //auto to center
            //-width:70%;
             letter-spacing: 1em;
             line-height: 2em;
             text-align: right;   
             padding-left: 1em;

         } 

 }
          
  
     
     nav {
        position: absolute;
        background: black;
        padding: 2em;
        width:calc(100% - 4em);
        height: calc(100vh - 4em);
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform-origin: left;
        
        z-index: 999999;



        .close-btn{
        
            width:18px;
            float:right;
            cursor:pointer;
            opacity: 0;

        }


        ul {

            list-style-type: none;
            margin: 15% auto 0 auto;
            padding: 0; // removes default browser padding on ul!
            display: grid;
            grid-template-columns: repeat(4, 25%);
            width:80%;

            a {
                color:white;
                font-weight: bold;
                font-size: 2em;
            }
            
            span {
                color:gray;
                display: block;
                font-size: 1.25em;
                margin-top: 20px;
            }

            li {
                opacity: 0;
            }
        }
    }

    .show-menu {
         display: block;
         animation: slide-menu 1s ease-o forwards;
                                                    
         -webkit-animation: slide-menu 1s ease-in forwards;

         
.close-btn {
            -webkit-animation: show-x 1s 1s forwards;
            animation: show-x 1s 1s forwards;
}        
   


        li:nth-of-type(1){
            animation:menu-item-anim .6s forwards 1s ease-in-out;
            -webkit-animation:menu-item-anim .6s forwards 1s ease-in-out;
        }


        li:nth-of-type(2){
            animation:menu-item-anim .6s forwards 1.2s ease-in-out;
            -webkit-animation:menu-item-anim .6s forwards 1.2s ease-in-out;
        }


        li:nth-of-type(3){
            animation:menu-item-anim .6s forwards 1.4s ease-in-out;
            -webkit-animation:menu-item-anim .6s forwards 1.4s ease-in-out;
        }


        li:nth-of-type(4){
            animation:menu-item-anim .6s forwards 1.6s ease-in-out;
            -webkit-animation:menu-item-anim .6s forwards 1.6s ease-in-out;
        }



        @keyframes slideInRight {
        from {
                    transform: scaleX(0);
                    -webkit-transform: scaleX(0);
                    -moz-transform: scaleX(0);
                    -ms-transform: scaleX(0);
                    -o-transform: scaleX(0);
                } 
                    to {
                    transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1); //do this -- update nav above to reflect this
                    }
                }


        }



        @keyframes show-x {
            from {
                opacity: 0; 
            } 
                to {
                    opacity:1;
                }
            }
    

    @keyframes slide-menu {
    from {
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
    } 
        to {
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1); //do this -- update nav above to reflect this
        }
    }



    @keyframes show-x {
        from {
            opacity: 0; 
        } 
            to {
                opacity:1;
            }
        }


        @keyframes menu-item-anim {
            from {
                transform:translateY(30%);
                -webkit-transform:translateY(30%);
                -moz-transform:translateY(30%);
                -ms-transform:translateY(30%);
                -o-transform:translateY(30%);
                opacity: 0;
            } 
                to {
                 transform:translateY(0);
    
                 opacity:1;
                }
            }



        @keyframes fadeInRight{ 
            0% {
                opacity: 0;
                transform: translateZ(100px);
                -webkit-transform: translateZ(100px);
                -moz-transform: translateZ(100px);
                -ms-transform: translateZ(100px);
                -o-transform: translateZ(100px);
}
        
          80% {
                transform: translateZ(-5px)    ;
                -webkit-transform: translatez(-5px)    ;
                -moz-transform: translatez(-5px)    ;
                -ms-transform: translatez(-5px)    ;
                -o-transform: translatez(-5px)    ;
}
            
            100% {
                opacity: 1;
                transform: translateZ(0);
                translate: 0;
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
        }
        
    }
